*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(27, 26, 26)
}


/* * NavBar */

.navbar{
    display:flex;
    justify-content: space-between;
    align-items:center;
    background:linear-gradient(to right,rgb(44, 42, 42),rgb(17, 17, 17));
    padding: 10px;
    color: white;
}

.title{
    font-size:28px;
}

.links{
    
}
.link{
    text-decoration: none;
    color: white;
    font-size:12px;
}

/* * Player Search */
.playersearchform{
    display: flex;
    width: 95%;
    margin: 20px auto;
}

.playersearchinput{
    flex: 1;
    outline: none;
    border:none;
    padding:10px;
    border-radius: 50px;
    margin: 0px 3px;
    background-color:rgb(10, 10, 10);
    font-family: "Fira Code";
    color: whitesmoke;
}

.playersearchsubmit{
    background:linear-gradient(to right,cornflowerblue,royalblue);
    border-radius: 50px;
    padding:10px;
    width: 100px;
    outline: none;
    border:none;
    color: whitesmoke;
    font-family: "Fira Code";
    cursor: pointer;
}


/* *Players */

.players{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap:10px;
    width: 90%;
    margin: auto;
}

.player{
    background-color: rgb(46, 45, 45);
    color: whitesmoke;
    text-align:center;
    padding:10px;
    border-radius:5px;
    cursor: pointer;
    text-decoration: none;
}

.name{
    color: orangered;
}

.pid{
    color: orange;
}