*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(22, 21, 21)
}


/* * NavBar */

.navbar{
    display:flex;
    justify-content: space-between;
    align-items:center;
    background:linear-gradient(to right,rgb(44, 42, 42),rgb(17, 17, 17));
    padding: 10px;
    color: white;
}

.title{
    font-size:28px;
}

.links{
    
}
.link{
    text-decoration: none;
    color: white;
    font-size:12px;
}